
.header{
    height: 107px;
    background-color:#255056;
    border-bottom: 5px solid #E6B86A;
    
}
.header__logo{
    align-items: center;
}

.header__nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__nav a {
    text-decoration: none;
    color:white;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
}

.header__wrapper{
    align-items: center;
    height: 107px;

}

.header__nav-item.active a {
    color: #E6B86A;
}

.header__bars{
    display: none;
}
